
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>Signin Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/admin/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/admin/css/signin.css" rel="stylesheet">
    <link href="/static/admin/css/page.css" rel="stylesheet">
</head>

<body class="text-center">
<!-- pre-loader -->
<div id="st-preloader">
    <div class="st-preloader-circle"></div>
</div>

<form class="form-signin" method="post" action="/admin/home/index">
    <img class="mb-4" src="/static/admin/images/logo.svg" alt="" width="72" height="72">
    <h1 class="h3 mb-3 font-weight-normal">登入系统管理后台</h1>
    <label for="inputEmail" class="sr-only">用户名</label>
    <input type="email" id="inputEmail" class="form-control" placeholder="用户名" autofocus>
    <label for="inputPassword" class="sr-only">密码</label>
    <input type="password" id="inputPassword" class="form-control" placeholder="密码">
    <div class="checkbox mb-3">
        <label>
            <input type="checkbox" value="remember-me"> 记住用户名
        </label>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">登&nbsp;&nbsp;&nbsp;&nbsp;录</button>
    <p class="mt-5 mb-3 text-muted">&copy; Herosphp 2018-now</p>
</form>

{res:js admin/js/jquery.min.js}
{res:js admin/js/popper.min.js}
{res:js admin/js/bootstrap.min.js}
<script>
    /* === pre-loader init === */
    $(window).on("load", function() {
        $('#st-preloader').fadeOut();
        $('.st-preloader-circle').delay(350).fadeOut('slow');
    });
</script>
</body>
</html>
