<!doctype html>
<html lang="en">
<head>
	{include admin.inc.header}
	<link href="/static/admin/css/page.css" rel="stylesheet">
</head>

<body>
<!-- pre-loader -->
<div id="st-preloader">
	<div class="st-preloader-circle"></div>
</div>

<div class="container-fluid">

	<div class="row">
		<form class="table-responsive" id="data-list-form">
			<table class="table table-bordered table-hover">
				<thead class="bg-light">
				<tr>
					<th scope="col" width="20">
						<div class="custom-control custom-checkbox">
							<input type="checkbox" class="custom-control-input" id="select-all">
							<label class="custom-control-label" for="select-all"></label>
						</div>
					</th>
					<th scope="col">用户名</th>
					<th scope="col">姓名</th>
					<th scope="col">添加时间</th>
					<th scope="col">最后登录 IP</th>
					<th scope="col">最后登录时间</th>
					<th scope="col">操作</th>
				</tr>
				</thead>
				<tbody>
				<tr v-for="item in list">
					<th scope="row">
						<div class="custom-control custom-checkbox">
							<input type="checkbox" class="custom-control-input" name="ids[]" id="{{ item.id }}">
							<label class="custom-control-label" for="{{ item.id }}"></label>
						</div>
					</th>
					<td>{{ item.username }}</td>
					<td>{{ item.name }}</td>
					<td>{{ item.add_time }}</td>
					<td>{{ item.last_login_ip }}</td>
					<td>{{ item.last_login_time }}</td>
					<td class="td-compact">
						<button type="button" class="btn btn-outline-info btn-sm">编辑</button>
						<button type="button" class="btn btn-outline-danger btn-sm" v-on:click="remove(item)">删除
						</button>
					</td>
				</tr>
				</tbody>
			</table>

		</form>

		<!-- 分页样式 -->
		<div class="table-responsive" id="page"></div>
	</div>

</div>

{include admin.inc.script}
<script>

	var APP = new Vue({
		el: '#data-list-form',
		data: {
			url: "/admin/manager/clist",
			list: null
		},
		created: function() {
			// 加载数据
			this.fetchData(this.url);
		},
		methods: {

			// 加载数据列表
			fetchData: function(url, params) {
				httpGet(url, params, function(res) {
					APP.$data.list = res.data;
					renderPageHandler(res.count, res.page, res.pagesize);
				}, function() {
					messageError("加载数据失败！");
				})
			},

			// 删除一条数据
			remove: function(item) {
				removeItem(item);
			}
		}
	});

	/**
	 * 渲染分页组件
	 * @param total
	 * @param pageNo
	 * @param pageSize
	 */
	function renderPageHandler(total, pageNo, pageSize) {
		$('#page').pageHandler({
			total: total,
			pageNo: pageNo,
			pageSize: pageSize,
			align: 'center',
			changePage: function(pageNo, pageSize) {
				APP.fetchData(APP.$data.url, {pageNo: pageNo, pageSize: pageSize});
			}
		});
	}

</script>
</body>
</html>
