<!doctype html>
<html lang="en">
<head>
	{include admin.inc.header}
	<link href="/static/admin/css/page.css" rel="stylesheet">
</head>

<body>
<!-- pre-loader -->
<div id="st-preloader">
	<div class="st-preloader-circle"></div>
</div>

<div class="container-fluid" id="app">

	<div class="row">
		<div class="row container">
			<form class="form-inline mb-2">
				<div class="form-group">
					<input type="mobile" class="form-control form-control-sm"  placeholder="手机号码">
				</div>
				<div class="form-group ml-2">
					<input type="name" class="form-control form-control-sm"  placeholder="姓名">
				</div>
				<div class="form-group ml-2">
					<select class="form-control form-control-sm">
						<option>北京</option>
						<option>上海</option>
						<option>深圳</option>
						<option>广州</option>
					</select>
				</div>
				<div class="form-group ml-2">
					<input type="name" class="form-control form-control-sm"  placeholder="姓名">
				</div>
				<button type="submit" class="btn btn-success btn-sm ml-2"><em class="oi oi-magnifying-glass"></em></button>
			</form>
		</div>

		<div class="row container mb-2">
			<div class="btn-group" role="group" aria-label="Basic example">
				<button type="button" class="btn btn-primary btn-sm" v-on:click="add"
						data-toggle="modal" data-target="#dataModel">添加管理员</button>
				<button type="button" class="btn btn-info btn-sm">批量禁用</button>
				<button type="button" class="btn btn-danger btn-sm">批量删除</button>
			</div>
		</div>

		<form class="table-responsive" id="data-list-form">
			<table class="table table-bordered table-hover">
				<thead class="bg-light">
				<tr>
					<th scope="col" width="20">
						<div class="custom-control custom-checkbox">
							<input type="checkbox" class="custom-control-input" id="select-all">
							<label class="custom-control-label" for="select-all"></label>
						</div>
					</th>
					<th scope="col">用户名</th>
					<th scope="col">姓名</th>
					<th scope="col">添加时间</th>
					<th scope="col">最后登录 IP</th>
					<th scope="col">最后登录时间</th>
					<th scope="col">操作</th>
				</tr>
				</thead>
				<tbody>
				<tr v-for="item in list">
					<th scope="row">
						<div class="custom-control custom-checkbox">
							<input type="checkbox" class="custom-control-input" name="ids[]" id="{{ item.id }}">
							<label class="custom-control-label" for="{{ item.id }}"></label>
						</div>
					</th>
					<td>{{ item.mobile }}</td>
					<td>{{ item.name }}</td>
					<td>{{ item.create_time }}</td>
					<td>{{ item.last_login_ip }}</td>
					<td>{{ item.last_login_time }}</td>
					<td class="td-compact">
						<button type="button" class="btn btn-outline-info btn-sm"
								v-on:click="edit"
								data-toggle="modal" data-target="#dataModel">编辑</button>
						<button type="button" class="btn btn-outline-danger btn-sm" v-on:click="remove(item)">删除
						</button>
					</td>
				</tr>

				<tr v-if="list.length == 0"><td class="text-center text-muted" colspan="100">对不起，暂无记录.</td></tr>
				</tbody>
			</table>

		</form>

		<!-- 分页样式 -->
		<div class="table-responsive" id="page"></div>
	</div>

	<div class="modal fade" id="dataModel" tabindex="-1" role="dialog"  aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalLabel">{{ modelTitle }}</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<form>
						<div class="form-group">
							<label class="col-form-label">手机号码:</label>
							<input type="text" name="mobile" v-model="item.mobile" class="form-control">
						</div>
						<div class="form-group">
							<label class="col-form-label">姓名:</label>
							<input type="text" name="name" v-model="item.name" class="form-control">
						</div>
						<div class="form-group" v-if="isAdd">
							<label class="col-form-label">密码:</label>
							<input type="password" name="password" v-model="item.password" class="form-control">
						</div>
						<div class="form-group" v-if="isAdd">
							<label class="col-form-label">确认密码:</label>
							<input type="password" name="repass" v-model="item.repass" class="form-control">
						</div>

					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary" v-on:click="submit">保存</button>
					<button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
				</div>
			</div>
		</div>
	</div>

</div>

{include admin.inc.script}
<script>

	var APP = new Vue({
		el: '#app',
		data: {
			url: "/admin/manager/clist",
			removeUrl: "/admin/manager/delete",
			list: [],
			item: [],
			modelTitle: "",
			isAdd: true, // 是否添加操作
		},
		created: function() {
			// 加载数据
			this.fetchData(this.url);
		},
		methods: {

			// 加载数据列表
			fetchData: function(url, params) {
				httpGet(url, params, function(res) {
					APP.$data.list = res.data;
					renderPageHandler(res.count, res.page, res.pagesize);
				}, function() {
					messageError("加载数据失败！");
				})
			},

			// 删除一条数据
			remove: function(item) {
				removeItem(this.removeUrl, item, function() {
					APP.$data.list._remove(item, function(v1, v2) {
						return v1.id == v2.id;
					});
				});
			},

			add: function() {
				this.modelTitle = "添加管理员";
				this.isAdd = true;
				// 初始化数据
				this.item = [];
			},

			edit: function() {
				this.modelTitle = "编辑管理员";
				this.isAdd = false;
				// TODO 读取后台数据
				this.item.mobile = '18575670126';
				this.item.name = '杨坚';
			},

			// 提交表单
			submit: function(event) {
				var $button = $(event.currentTarget)
				$button.jbutton("loading");
				// TODO 提交数据到后端
				setTimeout(function() {
					messageOk("操作成功.");
					console.log(event.currentTarget);
					$('#dataModel').modal('hide');
					$button.jbutton("reset");
				}, 1000);
			}
		}
	});

	/**
	 * 渲染分页组件
	 * @param total
	 * @param pageNo
	 * @param pageSize
	 */
	function renderPageHandler(total, pageNo, pageSize) {
		$('#page').pageHandler({
			total: total,
			pageNo: pageNo,
			pageSize: pageSize,
			align: 'center',
			changePage: function(pageNo, pageSize) {
				APP.fetchData(APP.$data.url, {pageNo: pageNo, pageSize: pageSize});
			}
		});
	}

</script>
</body>
</html>
