<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="author" content="yangjian102621@gmail.com">
<link rel="icon" href="/static/admin/images/logoa.png">

<title>{$title}</title>

<!-- Bootstrap core CSS -->
<link href="/static/admin/css/icons/css/open-iconic-bootstrap.min.css" rel="stylesheet">
<link href="/static/admin/css/bootstrap.min.css" rel="stylesheet">

<!-- Custom styles for this template -->
<link href="/static/admin/css/reset.css" rel="stylesheet">

<div style="display: none" class="oi oi-ellipses"></div>