<div class="menu">
    <div class="menu-animate"></div>
    <div class="menu-li">
        <a class="menu-li-link" href="/statistics" data-status="statistic">
            <img class="menu-li-img" src="/static/admin/image/dark/icon-tj.png" alt="统计">
            统计
        </a>
    </div>
    <div class="menu-li">
        <a class="menu-li-link" href="/node/list" data-status="node">
            <img class="menu-li-img" src="/static/admin/image/dark/icon-jd.png" alt="节点">
            节点
        </a>
    </div>
    <div class="menu-li">
        <a class="menu-li-link clearfix" href="#" data-open="0" onclick="openSubMenu(this)">
            <img class="menu-li-img" src="/static/admin/image/dark/icon-jb.png" alt="警报">
            警报
            <img class="menu-li-img1" src="/static/admin/image/dark/icon-menu-open.png" alt="展开菜单" data-open="0">
        </a>
        <div class="menu-li-sub">
            <a class="menu-li-sub-link" href="#" data-status="jblist">
                <img class="menu-li-sub-img" src="/static/admin/image/dark/icon-menu-right-corner.png" alt="子菜单">
                警报列表
            </a>
            <a class="menu-li-sub-link" href="#" data-status="jbset">
                <img class="menu-li-sub-img" src="/static/admin/image/dark/icon-menu-right-corner.png" alt="子菜单">
                设置
            </a>
            <a class="menu-li-sub-link" href="#" data-status="jbreceive">
                <img class="menu-li-sub-img" src="/static/admin/image/dark/icon-menu-right-corner.png" alt="子菜单">
                接收人管理
            </a>
        </div>
    </div>
    <div class="menu-li">
        <a class="menu-li-link" href="/user/" data-status="setting">
            <img class="menu-li-img" src="/static/admin/image/dark/icon-set.png" alt="设置">
            设置
        </a>
    </div>
    <div class="menu-li">
        <a class="menu-li-link clearfix" href="#" data-open="0" onclick="openSubMenu(this)">
            <img class="menu-li-img" src="/static/admin/image/dark/icon-sdk.png" alt="SDK">
            OS SDK
            <img class="menu-li-img1" src="/static/admin/image/dark/icon-menu-open.png" alt="展开菜单" data-open="0">
        </a>
        <div class="menu-li-sub">
            <a class="menu-li-sub-link" href="/sdk/linux/" data-status="sdkL">
                <img class="menu-li-sub-img" src="/static/admin/image/dark/icon-menu-right-corner.png" alt="子菜单">
                Linux SDK
            </a>
            <a class="menu-li-sub-link" href="#" data-status="sdkW">
                <img class="menu-li-sub-img" src="/static/admin/image/dark/icon-menu-right-corner.png" alt="子菜单">
                Windows SDK
            </a>
            <a class="menu-li-sub-link" href="#" data-status="sdkA">
                <img class="menu-li-sub-img" src="/static/admin/image/dark/icon-menu-right-corner.png" alt="子菜单">
                Android SDK
            </a>
        </div>
    </div>
</div>

