<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
	<a class="navbar-brand col-md-2" href="#">Herosphp Manager System</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarCollapse">
		<ul class="navbar-nav mr-auto">
			<li class="nav-item active">
				<a class="nav-link" href="#">菜单一</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="#">菜单二</a>
			</li>
			<li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown06" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">下拉菜单</a>
				<div class="dropdown-menu" aria-labelledby="dropdown06">
					<a class="dropdown-item" href="#">操作一</a>
					<a class="dropdown-item" href="#">操作二</a>
					<a class="dropdown-item" href="#">操作三</a>
				</div>
			</li>
		</ul>
		<div class="mt-2 mt-md-0">
			<div class="btn-group">
				<button type="button" class="btn btn-outline-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					Rock_Yang
				</button>
				<div class="dropdown-menu" style="right: 0;left: auto">
					<a class="dropdown-item" href="#"><em class="oi oi-people"></em> 用户信息</a>
					<a class="dropdown-item" href="#"><em class="oi oi-lock-locked"></em> 修改密码</a>
					<a class="dropdown-item" href="#"><em class="oi oi-account-logout"></em> 退出登录</a>
				</div>
			</div>

		</div>
	</div>
</nav>