<nav class="col-md-2 d-none d-md-block bg-light sidebar">
    <div class="sidebar-sticky" id="sidebar-container">
        <div class="sidebar-heading justify-content-between align-items-center text-muted">
            <span>快速入门</span>
            <em class="oi oi-plus float-right"></em>
        </div>

        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link" _href="/admin/manager/index">
                    <em class="oi oi-home"></em>
                    管理员列表
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" _href="/admin/login/index">
                    <em class="oi oi-tags"></em>
                    订单
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" _href="/admin/login/index">
                    <em class="oi oi-cart"></em>
                    产品
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" _href="/admin/login/index">
                    <em class="oi oi-people"></em>
                    客户
                </a>
            </li>
        </ul>

    </div>
</nav>