{include admin.inc.header}

<body>

<div class="am-g tpl-g">

    {include admin.inc.top}


    {include admin.inc.leftmenu}
    
    <!-- 内容区域 -->
    <div class="tpl-content-wrapper">
        <div class="row-content am-cf">
            <div class="widget am-cf">
                <div class="widget-body">
                    <div class="tpl-page-state">
                        <div class="tpl-page-state-title am-text-center tpl-error-title">404</div>
                        <div class="tpl-error-title-info">Page Not Found</div>
                        <div class="tpl-page-state-content tpl-error-content">
                            
                            <p>对不起,我们绕了地球一圈，没有找到你要页面。</p>
                            <a href="/admin/index" class="am-btn am-btn-secondary am-radius tpl-error-btn">返回首页
                            </a></div>
                    
                    </div>
                </div>
            </div>
        </div>
        
    </div>
    
</div>
{include admin.inc.res}

<script>
    seajs.use("common");
</script>
</body>

</html>