<!doctype html>
<html lang="en">
<head>
    {include admin.inc.header}
    <link href="/static/admin/css/index.css" rel="stylesheet">
</head>

<body>
{include admin.inc.nav}

<div class="container-fluid">
    <div class="row">
        {include admin.inc.sidebar}

        <main role="main" class="main col-md-10 ml-sm-auto col-lg-10">

            <div class="tab-box">
                <ul class="tab-title" id="tab-title">
                    <li class="text-info pt-1" id="reload" title="刷新页面">
                        <em class="oi oi-reload"></em>
                    </li>
                    <li tab-id="0">
                        <em class="oi oi-home"></em> 我的桌面
                    </li>
                </ul>
                <div class="tab-content" id="tab-content">
                    <div class="tab-item show" page-id="0">
                        <iframe src="/admin/manager/index" frameborder="0" class="x-iframe"></iframe>
                    </div>
                </div>
            </div>

        </main>
    </div>

    {include admin.inc.footer}
</div>

{include admin.inc.script}

<script>
    $(document).ready(function() {
        // 自动计算页面的高度
        $('#tab-content').css({
            'height': $(window).height() - $('#tab-title').height() - 95 + 'px'
        });

        // 控制左侧菜单展开，收缩
        $('#sidebar-container .sidebar-heading').click(function() {
            $(this).next().toggle();
        });
        // 默认展开
        $('#sidebar-container .sidebar-heading').trigger('click');

        // 刷新当前页面
        $('#reload').click(function() {
            $('#tab-content .show').find('iframe')[0].contentWindow.location.reload(true);
        });

        // 菜单切换
        (function() {
            var $sideBarLinks = $('#sidebar-container .nav-item .nav-link');
            $sideBarLinks.click(function() {
                // 更改当前菜单选中状态
                $('#sidebar-container .nav-item .active').removeClass('active');
                $(this).addClass('active');
                // 已经添加的菜单直接激活
                var id = $(this).attr('data-id');
                if (id) {
                    $('#tab-title li[tab-id="'+id+'"]').trigger('active');
                    return;
                }
                id = Math.random();
                $(this).attr('data-id', id);
                // 创建新的菜单
                var href = $(this).attr('_href');
                var text = $(this).text().trim();
                var $tabTitle = $('<li tab-id="'+id+'">'+text+'</li>');
                var $closeBtn = $('<em class="oi oi-circle-x" title="关闭当前窗口"></em>');
                $closeBtn.click(function(e) {
                    $(this).parent().trigger("remove");
                    e.stopPropagation();
                });
                $tabTitle.append($closeBtn);
                // 绑定菜单激活事件
                $tabTitle.on('active click', function() {
                    $('#tab-title .active').removeClass('active');
                    $(this).addClass('active');
                    var id = $(this).attr('tab-id');
                    $('#tab-content .show').removeClass('show');
                    $('#tab-content [page-id="'+id+'"]').addClass('show');
                });
                $tabTitle.on("remove", function() {
                    var id = $(this).attr('tab-id');
                    $('#tab-content [page-id="'+id+'"]').remove();
                    $(this).prev().trigger('active');
                });
                $('#tab-title').append($tabTitle);
                var $tabContent = $('#tab-content');
                var $tabPage = $('<div class="tab-item" page-id="'+id+'"></div>');
                var $iframe = '<iframe frameborder="0" src="' + href + '" scrolling="yes" class="x-iframe"></iframe>';
                $tabPage.append($iframe);
                $tabContent.append($tabPage);
                $tabTitle.trigger('active');
            });
            // 绑定首页事件
            $('#tab-title li:eq(1)').on('active click', function() {
                $('#tab-title .active').removeClass('active');
                $(this).addClass('active');
                var id = $(this).attr('tab-id');
                $('#tab-content .show').removeClass('show');
                $('#tab-content [page-id="'+id+'"]').addClass('show');
            });
            $('#tab-title li:eq(1)').trigger('active');
        })();
    });
</script>
</body>
</html>
